@import "_variables.scss";

button.navigation{
    color: $spotifyWhite;
    background-color: $spotifyDarkBlack;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    text-align: center;
}

.searchBar{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width: 200px;
}