*, *:before, *:after {
  box-sizing: border-box;
}
  
  button:hover {
    cursor: pointer;
  }

// Disabled for testing purposes

// body{
//   max-height: 100vh;
//   max-width: 100vw;
//   overflow: hidden;
// }

