@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	height: 100vh;
	width: 100vw;
}
body {
	background-color: $spotifyLightBlack;
	font-family: 'Lato', 'sans-serif';
}
button:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

.PlayerRSWP{
	max-width: 100;
	margin: auto;
	position: relative;
	bottom: 0px;
	left: 0px;
}

