@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	height: 100vh;
	width: 100vw;
}
body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url("../images/club.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Lato", "sans-serif";
	// Link; https://www.pexels.com/photo/people-in-concert-1763075/
}
button:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

.PlayerRSWP {
	max-width: 100;
	margin: auto;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

a {
	text-decoration: none;
	color: white;
}
