@import "_variables.scss";

.searchBar {
	border: 2px solid black;
	border-radius: 5px;
	// top right and left
	padding: 5px;
	height: 40px;
	width: 200px;
	flex: 1;
	margin: auto 5px;
}

.resultsContainer {
	background-color: white;
    height: 700px;
	width: 700px;
    z-index: 1;
    position: fixed;
    top: 50px;
    overflow: scroll;
    overflow-x: hidden;
    right: 300px;
    border-radius: 5%;

}

.resultsContainer{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .resultsContainer::-webkit-scrollbar {
    display: none;
  }

//Could use regex to destory any 'feat' artists 

.trackSearchResults{
    margin: 5px;
    padding: 10px;
    border: 2px solid lightgray;
    z-index: 1;
    height: 80px;
    cursor: pointer;
}

.searchImage{
    width: 64px;
    height: 64px;
    margin: 5px;
    border: 2px solid black;
    display: block;
    position: relative;
    bottom: 8px;
}

.searchTitle{
    color: $spotifyDarkBlack;
    font-size: 20px;
    position: relative;
    bottom: 75px;
    left: 70px;
    margin-left: 3px;
}

.searchArtist{
    color: $spotifyLightBlack;
font-size: 15px;
position: relative;
bottom: 75px;
left: 70px;
margin-left: 3px;
}
